.modalOverlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow-y: auto;
  max-height: 50vh;
	margin-top: 20px
}

@media (min-width: 800px) {
  .modalOverlay {
    top: 50%;
		max-height: 100vh;
    transform: translate(-50%, -50%);

  }
}

.modalContent {
	background: #fff;
	padding: 20px;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	position: relative;
	max-width: 500px;
	width: 100%;

	// Обновления
	max-height: 80vh; // 100px на ассистента и клавиатуру
	overflow-y: auto;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
	.modalContent {
		max-height: vh; // больше запаса под ассистента и клаву
		padding: 16px;
	}
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: #aaa;
	&:hover {
		color: #777;
	}
}
